html,
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: var(--sl-font-sans);
}

.content {
  /* max-width: 800px; */
  margin: auto;
  padding: 10%;
  flex: 1;
  margin-left: 300px;
  justify-content: center; 
  align-items: center;
  /* padding-left: 5%;  */
  
}

.title {
  text-align: center;
}

p {
  text-align: justify;
  font-size: 1.1rem;
}

.sidenav {
  width: 200px; 
  background-color: lightgray;
}