html,
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: var(--sl-font-sans);
}

.content {
  max-width: 800px;
  margin: auto;
  padding: 10%;
  margin-left: 300px;
  
}

.title {
  text-align: center;
}

p {
  text-align: justify;
  font-size: 1.1rem;
}

.sidenav {
  width: 200px; /* Fixed width for sidenav */
  background-color: lightgray;
}

.content {
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding-left: 250px; /* Optional: Add spacing from the edge */
}